<ActionBar title="Wikitude Demo" class="action-bar">
</ActionBar>

<StackLayout class="page">
    
      <label text="Before we can continue, we need Permissions!" textWrap="true" class="h1 centered" horizontalAlignment="center"></label>

        <GridLayout class="table" rows="*, *, *" columns="*, *" >
          <label class="table-cell label" text="has Location Permissions" textWrap="true" row="0" col="0" ></label>
          <label class="table-cell " [class.valid]="hasLocationPermissions" [class.invalid]="!hasLocationPermissions" [text]="hasLocationPermissions" row="0" col="1" ></label>

          <label class="table-cell label" text="has Camera Permissions" textWrap="true" row="1" col="0" ></label>
          <label class="table-cell" [class.valid]="hasCameraPermissions" [class.invalid]="!hasCameraPermissions" [text]="hasCameraPermissions" row="1" col="1" ></label>

        
          <label class="table-cell label" text="has Storage Permissions (optional)" textWrap="true" row="2" col="0" ></label>
          <label class="table-cell" [class.valid]="hasStoragePermissions" [class.invalid]="!hasStoragePermissions" [text]="hasStoragePermissions" row="2" col="1" ></label>
  
        </GridLayout>
 
        <Button class="btn btn-outline" [isEnabled]="!hasLocationPermissions" text="Request Location Permissions" (tap)="requestLocationPermissions()"></Button>
        <Button class="btn btn-outline" [isEnabled]="!hasCameraPermissions" text="Request Camera Permissions" (tap)="requestCameraPermissions()"></Button>
        <Button class="btn btn-outline" [isEnabled]="!hasStoragePermissions" text="Request Storage Permissions" (tap)="requestStoragePermissions()"></Button>

        <Label *ngIf="hasPermissions" class="centered" text="We Have the required permissions!"></Label>
        <Button text="Continue" class="btn btn-primary" [isEnabled]="hasPermissions" [nsRouterLink]="['/wikitude']" ></Button>
</StackLayout>